/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar{
  margin:0;
  color: #fff;
  background-color:#051925;
  border:0;
  border-bottom: 1px solid #7f7f7f;
  border-radius: 0;
}

.line{
  border-top: 1px solid #7f7f7f;
  width:100%;
  margin: 1.7em 0 0 0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  color: #7f7f7f;
}

a:hover{
  color: #545454;
}

.footer{
  text-align: center;
  padding:.3em;
  background-color: #051925;
  border-top: 1px solid #7f7f7f;
  color: #7f7f7f;
  a{
    color: #6d6d6d;
  }
}

.alert-success{
  text-align:center;
}

.container{
  margin: 0;
  padding-bottom: 0;
  width:100%;
  background-color:#08304B;
  
  .vote{
    color: #7f7f7f;
  }

  h1{
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 4em;
  }
  
  .new_gym{
    text-align:center;
    padding-bottom:2em;
    
    input{
      width:100%;
    }
    
    .new_gym_btn{
      margin-top: 1.7em; 
      width: 40%;
    }
  }
  
  .sign_up{
    text-align:center;
    min-height:90vh;
    
    label, em, h2,, ul,li{
      color:#fff;
    }
    
    h1{
      padding-top: 1em;
      
    }
    
    .sign_up_btn{
      margin-top: 1.7em; 
      width: 40%;
    }
    
    input{
      width:100%;
    }
  }
  .ranking{
    margin-bottom: 2em;
    padding: 0 3em;
    text-align: center;
    font-size: 1.6em;
    .gym_panel{
      padding:1em 0;
      .col-sm-4{
        text-align:left;
      }
      .col-sm-1{
        text-align: right;
      }
    }
  }
  .map_wrapper{
    width:90%;
    margin:0 0 3em 0;
    -webkit-box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
    -moz-box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
    box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
    margin-left:auto;
    margin-right: auto;
    #map{
      height:300px;
    }
  }

  .show{
    color: #6d6d6d;
    padding: 2em;
    
    h1{
      text-align:left;
      padding:0 0 0.2em 0;
      margin-top:0;
    }
    
    .show_map{
      -webkit-box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
      -moz-box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
      box-shadow: 0px 0px 21px 6px rgba(31,31,31,1);
      padding:0;
    }
    .gym_details{
      color: #6d6d6d;
      padding-left: 4em;
      i{
        font-size: 2em;
        padding-right: 1em;
      }
      .vote_h2, .vote{
        display: inline;
      }
      .social_icons{
        padding: 1em 0 .6em 0;
      }
    }
  }

  .comment_box{
    padding: 2em;
    color: #6d6d6d;
    .comment_body{
      resize: none;
      width:100%;
      height:20vh;
    }
    .comment_btn{
      color:#a5a5a5;
      background-color: #051925;
    }
    .comment_btn:hover{
      color: #565656;
      border: 1px solid #565656;
    }
  }

  .comments{
    padding:2em;
    color: #6d6d6d;
    h2{
      color: #fff;
    }
    h3{
      padding-left: 1em;
      color:#a5a5a5;
    }
    h6{
      padding-left:2em;
    }
    h4{
      padding-left:3em;
      padding-bottom: 2em;
    }
  }
}

@media only screen and (max-width: 830px) {
  .container{
  	.ranking{
  	  .gym_panel{
  	    .index_icon,.index_website{
  	      display:none;
  	    }
  	  }
  	}
  }
}
